<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="39938dallasbrittany.AnimalCrossingNewLeafWalkthrou" Publisher="CN=25F2C062-55A7-4FC2-914B-148C2A711D3F" Version="1.0.0.3" />
  <Properties>
    <DisplayName>Animal Crossing New Leaf Walkthrough Guide</DisplayName>
    <PublisherDisplayName>Amaryllis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XPlatformCloudKit.Win8.App">
      <VisualElements DisplayName="Animal Crossing New Leaf Walkthrough Guide" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Animal Crossing New Leaf Walkthrough Guide" ForegroundText="dark" BackgroundColor="#B5E61D">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" ShortName="New Leaf Guide" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="xplatformcloudkit" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>